 
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    ⏳ Cliquer sur le bouton «se connecter» pour se connecter à l'application...
                </NotAuthorized>
                <Authorizing>
                    ⏳ Authentification en cours...
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Page non trouvée.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
