@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="d-flex align-items-center justify-content-end gap-2">
    <AuthorizeView>
        <Authorized>
            <span class="text-muted">👤 @context.User.Identity?.Name</span>
            <button class="btn btn-outline-primary btn-sm" @onclick="Logout">Se déconnecter</button>
        </Authorized>
        <NotAuthorized>
            <button class="btn btn-outline-success btn-sm" @onclick="Login">Se connecter</button>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private void Login()
    {
       Navigation.NavigateTo("authentication/login");
    }

    private async Task Logout()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
